<mat-card class="createExpense-card">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <mat-form-field class="createExpense-formElem">
      <input matInput [min]="minDate" [max]="maxDate" formControlName="purchasedOn" [matDatepicker]="picker"
             [placeholder]="'create-expense.date-label' | translate">
      <mat-error
        *ngIf="!formGroup.controls['purchasedOn'].valid && !formGroup.controls['purchasedOn'].value && formGroup.controls['purchasedOn'].touched">
        {{ "error.mandatory-field" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.controls['purchasedOn'].hasError('matDatepickerMax')">
        {{ "error.invalid-date" | translate }}
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/>

    <mat-form-field class="createExpense-formElem">
      <input type="text" matInput [placeholder]="'create-expense.nature-label' | translate" formControlName="nature">
      <mat-error
        *ngIf="!formGroup.controls['nature'].valid && !formGroup.controls['nature'].value && formGroup.controls['nature'].touched">
        {{ "error.mandatory-field" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.controls['nature'].hasError('maxlength')">
        {{ "error.max-char" | translate: {nbMax: NATURE_MAX_CHAR} }}
      </mat-error>
    </mat-form-field>
    <br/>

    <mat-form-field class="createExpense-formElem">
      <input matInput [placeholder]="'create-expense.com-label' | translate" formControlName="comment">
      <mat-error
        *ngIf="!formGroup.controls['comment'].valid && !formGroup.controls['comment'].value && formGroup.controls['comment'].touched">
        {{ "error.mandatory-field" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.controls['comment'].hasError('maxlength')">
        {{ "error.max-char" | translate: {nbMax: COMMENT_MAX_CHAR} }}
      </mat-error>
    </mat-form-field>
    <br/>

    <mat-form-field class="createExpense-formElem">
      <input matInput [placeholder]="'create-expense.amount-label' | translate" formControlName="amount">
      <mat-error
        *ngIf="!formGroup.controls['amount'].valid && !formGroup.controls['amount'].value && formGroup.controls['amount'].touched">
        {{ "error.mandatory-field" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.controls['amount'].hasError('pattern') && formGroup.controls['amount'].touched">
        {{ "error.format-amount" | translate }}
      </mat-error>
    </mat-form-field>
    <p *ngIf="convertedAmount">{{'create-expense.convert-info' | translate: convertedAmount}}</p>
    <br/>

    <mat-form-field class="createExpense-formElem">
      <mat-label>{{'create-expense.currency-label' | translate}}</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of currencyService.AVAILABLE_CURRENCIES" [value]="currency.value">
          {{currency.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.controls['currency'].valid && formGroup.controls['currency'].touched">
        {{ "error.mandatory-field" | translate }}
      </mat-error>
    </mat-form-field>
    <br/>

    <div class="createExpense-formElem">
      <button mat-raised-button color="accent" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form
      </button>
    </div>

  </form>

</mat-card>
