<app-create-expense [expenseItem]="expenseToModify" (formSubmitted)="handleFormExpense($event)"></app-create-expense>
<h1>{{"home.title" | translate}}</h1>
<button (click)="clickToAddNewExpense()" class="home-addBtn" mat-raised-button color="primary">{{"home.add-btn" | translate}}</button>

<mat-spinner *ngIf="isLoading && !hasError"></mat-spinner>
<app-expenses-list *ngIf="!hasError" (expenseChanged)="handleExpenseChanged($event)" [expenses]="expensesToDisplay"></app-expenses-list>
<p *ngIf="hasError">{{"error.default" | translate}}</p>

