<h1 *ngIf="!isFormDisplay">{{"home.title" | translate}}</h1>
<h1 *ngIf="isFormDisplay">{{"home.form-title" | translate}}</h1>


<app-create-expense [ngClass]="{'d-none': !isFormDisplay}" [expenseItem]="expenseToModify" (formSubmitted)="handleFormExpense($event)"></app-create-expense>

<button *ngIf="!isFormDisplay" (click)="clickToAddNewExpense()" class="home-addBtn" mat-raised-button color="primary">{{"home.add-btn" | translate}}</button>
<button *ngIf="isFormDisplay" (click)="hideForm()" class="home-addBtn" mat-raised-button color="primary">{{"home.return-btn" | translate}}</button>


<mat-spinner *ngIf="isLoading && !hasError"></mat-spinner>
<app-expenses-list *ngIf="!hasError && !isFormDisplay"
                   (expenseChanged)="handleExpenseChanged($event)"
                   (displayPageChange)="handleDisplayPage($event)"
                   [expenses]="expensesToDisplay"
                   [defaultLength]="defaultPageLength"></app-expenses-list>

<p *ngIf="hasError">{{"error.default" | translate}}</p>

