/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.expenseList--hideContent tbody tr {
    visibility: hidden;
}

.expensesList-table td.mat-cell {
  max-width: 300px;
  padding: 5px;
}
